*{
	margin: 0;
	padding: 0;
	
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
.container__header{
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 59%, rgba(242,101,0,1) 100%);
	max-width: auto;
	width: 100% ;
	font-size: 25px;
	text-align: center;
		
}
.container__header img{
	max-height: 150px;
	max-width: 150px;

}

.container__header header ul ul {
	display: none;

}
.container__header header ul li:hover ul{
	display: block;
	position: absolute;
	text-align: center;
	font-size: 15px;
	
	   	
}


.parallax{
	background-image: url("../assets/img/background-essen.jpg");
	height: 550px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;
	flex-direction: column;
	column-fill: auto;


}
.parallax h4{
	font-size: 50px; 
	text-align: center; 
	background-color: rgba(255,255,255, 0.6);
	height: 60px;
	flex-wrap: wrap;
	
}
.parallax p{
	font-size: 30px; 
	text-align: center; 
	background-color: rgba(255,255,255, 0.6);
	font-style: oblique;
}
.container__text {
	font-size: 20px;
	color: #A5A1FF;
    background: #1B1B1F;
	width: auto;
	
}
.container__text div{
	justify-content: space-between;
	text-align: justify;
	padding: 20px;
	border-width: 2px;
	margin: 10px;

}
	





.gridContainer{
	display: grid;
	grid-template-areas: 
	"header header"
	"encabezado encabezado"
	"imgTxtInformativo textoInformativo"
	"footer footer";
	grid-template-columns: 50% 50%;
	grid-template-rows: 50px 1fr auto 120px;
	background-color: rgba(242,101,0,1);
}
section.encabezado{
	grid-area: encabezado;
	color: black;
	background-color: rgba(255,255,255, 0.2);
	text-align: center;
	
}

section.textoInformativo{
	grid-area: textoInformativo;
	text-align: justify;
	font-size: 30px;
	margin: 30px;

}

section.imgTxtInformativo{
	grid-area: imgTxtInformativo;
	width: 100%;
}


section.footer{
	grid-area: footer;
	
}
.container__footer{
	background-color: black;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
		
}
.container__footer footer ul li a{
	color: rgba(219, 60, 2, 0.685);
	justify-content: space-between;
	padding: 20px;
	font-size: large;
		
}
.contacto{
	display: flex;
	align-self: center;
	background-color:  rgba(255, 141, 47);
	color: black;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
	display: inline-block;
	height: 910px;
}
.contacto label{
	display: block;
	padding: 20px;
}
.contacto h4{
	font-size: 30px;
	background-color: rgba(255,255,255, 0.2);
	padding: 2%;
}


@media only screen and (max-width: 450px) {
	.gridContainer{
		grid-template-areas: 
		"header"
		"encabezado"
		"imgTxtInformativo" 
		"textoInformativo"
		"footer";
		grid-template-columns: 100%;
		grid-template-rows: auto;

	}
	section.textoInformativo{
		font-size: 12px;
		margin: 15px;
		
	}
	.container__footer{
		padding: 10px;
			
	}
}

@media only screen and (min-width: 451px) and (max-width: 576px) {
	.parallax h4{
		font-size: 25px;
		
	}
	.parallax p{
		font-size: 15px; 
	}
	section.textoInformativo{
		font-size: 15px;
		
	}
}

@media only screen and (min-width: 577px) and (max-width: 790px) {
	section.textoInformativo{
		font-size: 20px;
		
	}
}